.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
    %h4.page_subtitle.margin-top-10
      Reportes ejecutivos del SAM - Reporte de Paquetes descartados en QoS
  .col-md-1
%hr

.row
  .col-md-1
  .col-md-10
    %h3
      Paquetes Descartados en Interfaces Network - SR 7750
      = link_to 'Actualizar', samqosreports_samqos7750egressnetdiscards_path, method: :post, class: 'btn btn-warning float-right'
      .updated
        Actualizado
        - unless Samqos7750egressnetdiscard.last == nil
          = Samqos7750egressnetdiscard.last.created_at.strftime("%d/%m/%Y %H:%M:%S")
        - else
          '-'
  .col-md-1

.row.margin-top-10
  .col-md-1
  .col-md-10
    .float-left 
      = link_to 'Volver', samqosreports_path, class: 'btn btn-success'
    .float-right
      = form_tag samqosreports_samqos7750egressnetdiscard_path(:id), :method => :get do
        = collection_select(:samqos7750egressnetdiscard, :id, Samqos7750egressnetdiscard.all, :id, :created_at, prompt: "10 Reportes anteriores")
        = submit_tag "Consultar", :name => nil, class: 'btn btn-sm btn-info'
  .col-md-2

.row.margin-top-00
  .col-md-1
  .col-md-8.table-responsive
    = will_paginate @table_qos7750egressnetdiscard
    %table.table.table-striped.table-bordered.table-condensed.text-center.margin-top-10
      %thead
        %tr
          %th.text-center
            Item
          %th.text-center
            Nodo
          %th.text-center
            Puerto
          %th.text-center
            Cola de QoS
          %th.text-center
            Paquetes descartados
          %th.text-center
            Tiempo
      %tbody
        - unless Samqos7750egressnetdiscard.last == nil
          - i = 0
          - @table_qos7750egressnetdiscard.map do |item|
            - i += 1
            %tr
              %td
                = i
              %td
                = item[:node]
              %td
                = item[:port]
              %td
                = item[:queueId]
              %td
                = item[:discard]
              %td
                = item[:timeCaptured]
.col-md-2