.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
    %h4.page_subtitle.margin-top-10
      Reportes ejecutivos del SAM - Reporte de Estadistica de utilización de MPR en Radio y Ethernet
  .col-md-1
%hr

.row
  .col-md-1
  .col-md-10
    %h3
      Porcentaje de Utilización de Interface de Radio y Ethernet
      = link_to 'Excel', samqosdiscards_samutilizationmwinterfaces_path(format: "xls"), class: 'btn btn-warning float-right'
      = link_to 'Actualizar', samqosdiscards_samutilizationmwinterfaces_path, method: :post, class: 'btn btn-warning float-right'
      .updated
        Actualizado
        - unless Samutilizationmwinterface.last == nil
          = Samutilizationmwinterface.last.created_at.strftime("%d/%m/%Y %H:%M:%S")
        - else
          '-'
  .col-md-1

.row.margin-top-10
  .col-md-1
  .col-md-10
    .float-left 
      = link_to 'Volver', samqosdiscards_path, class: 'btn btn-success'
    .float-right
      = form_tag samqosdiscards_samutilizationmwinterface_path(:id), :method => :get do
        = collection_select(:samutilizationmwinterface, :id, Samutilizationmwinterface.all, :id, :created_at, prompt: "10 Reportes anteriores")
        = submit_tag "Consultar", :name => nil, class: 'btn btn-sm btn-info'
  .col-md-2

.row.margin-top-00
  .col-md-1
  .col-md-8.table-responsive
    = will_paginate @table_utilizationmwinterface
    %table.table.table-striped.table-bordered.table-condensed.text-center.margin-top-10
      %thead
        %tr
          %th.text-center
            Item
          %th.text-center
            Nodo
          %th.text-center
            Puerto
          %th.text-center
            Descripción del Puerto
          %th.text-center
            Capacidad del enlace Ethernet o Radio (Mbps)
          %th.text-center
            TX (Mbps)
          %th.text-center
            Utilización del enlace TX (%)
          %th.text-center
            Tiempo de máximo throughput
      %tbody
        - unless Samutilizationmwinterface.last == nil
          - i = 0
          - @table_utilizationmwinterface.map do |item|
            - i += 1
            %tr
              %td
                = i
              %td
                = item[:node]
              %td
                = item[:port]
              %td
                = item[:description]
              %td
                = item[:velodidad]
              %td
                = item[:Mbps_bwtx]
              - if item[:status] > 75.00
                %td.danger
                  = item[:status]
              - else
                %td
                  = item[:status]
              %td
                = item[:timeCaptured]
.col-md-2