.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
    %h4.page_subtitle.margin-top-10
      Reportes ejecutivos de KPIs - Reporte Interfaces de los Servidores Akamai
  .col-md-1

.row
  .col-md-2
  .col-md-8
    %h3
      Porcentaje de Utilización de Interfaces de Akamai
  .col-md-2

.row.margin-top-10
  .col-md-2
  .col-md-8
    .float-left 
      = link_to 'Volver', ppmreportcaches_ppmcacheAkamais_path, class: 'btn btn-success'
    .updated
      Actualizado
      = @ppmcacheAkamai.created_at.strftime("%d/%m/%Y %H:%M:%S")
  .col-md-2

.row.margin-top-00
  .col-md-12.table-responsive
    %table.table.table-striped.table-bordered.table-condensed.text-center.margin-top-10
      %thead
        %tr
          %th.text-center
            \#
          %th.text-center
            Nodo
          %th.text-center
            Equipo
          %th.text-center
            Interfaz
          %th.text-center
            Capacidad (Gbps)
          %th.text-center
            Max Gbps Tx
          %th.text-center
            Max Gbps Rx
          %th.text-center
            Utilización %
      %tbody
        - unless PpmcacheAkamai.last == nil
          - i = 0
          - @ppmcacheAkamai[:ppmcacheAkamais_array].map do |item|
            - i += 1
            %tr
              %td
                = i
              %td
                = item[:descriptionmax]
              %td
                = item[:devicemax]
              %td
                = item[:portmax]
              %td
                = item[:egressRatemax]
              %td
                = item[:bps_txmax]
              %td
                = item[:bps_rxmax]
              - if item[:status] > 70
                %td.danger
                  = item[:status]
              - else
                %td
                  = item[:status]