.row.margin-top-25
	.col-md-1
	.col-md-10
		.logotitle
		%h2.page_title
			Sistema Ágil de Gestión y Provisionamiento
		%h4.page_subtitle.margin-top-10
			Reportes de Interface de Servidores de Caché de NETFLIX
	.col-md-1
%hr

.row.margin-top-00
	.col-md-12.table-responsive
		%table.table.table-striped.table-bordered.table-condensed.table-hover.text-center.margin-top-10
			%thead
				%tr
					%th.text-center
						Nodo
					%th.text-center
						Puerto
					%th.text-center
						Servicio
					%th.text-center
						Capacidad
					%th.text-center.info
						Max Gbps
						%br
						= @cachenetflix_interface.created_at.strftime("Sem_%U")
					%th.text-center.info
						\%
						%br
						= @cachenetflix_interface.created_at.strftime("Sem_%U")
					%th.text-center.info
						RX Gbps
						%br
						= @cachenetflix_interface.created_at.strftime("Sem_%W")
					%th.text-center.info
						TX Gbps
						%br
						= @cachenetflix_interface.created_at.strftime("Sem_%W")
					%th.text-center.info
						\%
						%br
						= @cachenetflix_interface.created_at.strftime("Sem_%W")
					%th.text-center
						Crecimiento
			%tbody
				%tr
					%td= @cachenetflix_interface.nodo
					%td= @cachenetflix_interface.device
					%td= @cachenetflix_interface.port
					%td= @cachenetflix_interface.egressRate
					%td= @cachenetflix_interface.last_bps_max
			    
					- if @cachenetflix_interface.last_status > 85.00
						%td.danger= @cachenetflix_interface.last_status
					- elsif @cachenetflix_interface.last_status > 75.00 and @cachenetflix_interface.last_status < 84.999
						%td.warning= @cachenetflix_interface.last_status
					- else
						%td= @cachenetflix_interface.last_status

					%td= @cachenetflix_interface.gbpsrx
					%td= @cachenetflix_interface.gbpstx

					- if @cachenetflix_interface.status > 85.00
						%td.danger= @cachenetflix_interface.status
					-elsif @cachenetflix_interface.status > 75.00 and @cachenetflix_interface.status < 84.999
						%td.warning= @cachenetflix_interface.status
					- else
						%td= @cachenetflix_interface.status
			    
					%td= @cachenetflix_interface.crecimiento

%div.col-md-4
	= render 'form'

	.margin-top-20
	= link_to 'Historial', @cachenetflix_interface, class: 'btn btn-sm btn-success'
	= link_to 'Volver', cachenetflix_interfaces_path, class: 'btn btn-sm btn-success'
	.margin-top-20