.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
    %h4.page_subtitle.margin-top-10
      Reportes ejecutivos de KPIs - Reporte de Estadistica de utilización de Interface de Acceso
  .col-md-1
%hr

%p#notice= notice

.margin-top-20
%div.container
  #HistorialInterface

.margin-top-20
%div.container
  #UtilizationInterface

.margin-top-20
%div.container
  .row.col-md-2
    %p
      %b ID:
    %p
      %b Nodo:
    %p
      %b Puerto:
    %p
      %b Descripción:
    %p
      %b Capacidad Mbps:
    %p
      %b RX Mbps:
    %p
      %b TX Mbps:
    %p
      %b % Utilización:
    %p
      %b % Crecimiento:
    %p
      %b Comentario:
    %p
      %b Fecha de Solución:
  .row.col-md-10
    %p
      = @ipranaccess_interface.id
    %p
      = @ipranaccess_interface.device
    %p
      = @ipranaccess_interface.port
    %p
      = @ipranaccess_interface.description
    %p
      = @ipranaccess_interface.egressRate
    %p
      = @ipranaccess_interface.gbpsrx
    %p
      = @ipranaccess_interface.gbpstx
    %p
      = @ipranaccess_interface.status
    %p
      = @ipranaccess_interface.crecimiento
    %p
      = @ipranaccess_interface.comment
    %p
      = @ipranaccess_interface.time

%div.container
  .margin-top-20
  = link_to 'Editar', edit_ipranaccess_interface_path(@ipranaccess_interface), class: 'btn btn-sm btn-success'
  = link_to 'Volver', ipranaccess_interfaces_path, class: 'btn btn-sm btn-success'
  .margin-top-20

%script{:src => "https://www.gstatic.com/charts/loader.js", :type => "text/javascript"}

:javascript
  google.charts.load('current', {packages: ['corechart', 'bar', 'line']});

  google.charts.setOnLoadCallback(UtilizationInterface);
  function UtilizationInterface() {
    var UtilizationInterface = JSON.parse('#{(IpranaccessInterface.where(deviceindex: @ipranaccess_interface.deviceindex).order("created_at ASC").pluck(:created_at, :status).map { |e| [ e[0].strftime("%U-%Y"), e[1] ] }).to_json.html_safe}');
    UtilizationInterface = [['Fecha/Semana', 'Utilización']].concat(UtilizationInterface);
    UtilizationInterface = google.visualization.arrayToDataTable(UtilizationInterface);
    var options = {
      'height':300,
      hAxis: {
        title: 'Fecha/Semana',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' }
      },
      vAxis: {
        title: '%',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' },
        minValue: 0
      },
      colors: ['#99b2e5'],
      legend: { position: 'top' }
    };

    var UtilizationInterfaceChart = new google.visualization.ColumnChart(document.getElementById('UtilizationInterface'));
    UtilizationInterfaceChart.draw(UtilizationInterface, options);
  }

  google.charts.setOnLoadCallback(HistorialInterface);
  function HistorialInterface() {
    var HistorialInterface = JSON.parse('#{(IpranaccessInterface.where(deviceindex: @ipranaccess_interface.deviceindex).order("created_at ASC").pluck(:created_at, :bps_max).map { |e| [ e[0].strftime("%U-%Y"), e[1] ] }).to_json.html_safe}');
    HistorialInterface = [['Fecha/Semana', 'Tráfico Gbps']].concat(HistorialInterface);
    HistorialInterface = google.visualization.arrayToDataTable(HistorialInterface);
    var options = {
      height: 300,
      hAxis: {
        title: 'Fecha/Semana',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' }
      },
      vAxis: {
        title: 'Gbps',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' },
        minValue: 0
      },
      colors: ['#99b2e5'],
      curveType: 'function',
      legend: { position: 'top' },
      pointsVisible: 'true'
    };

    var HistorialInterfaceChart = new google.visualization.LineChart(document.getElementById('HistorialInterface'));
    HistorialInterfaceChart.draw(HistorialInterface, options);
  }