%table{:border => 1}
  %thead
    %tr
      %th.text-center
        Item
      %th.text-center
        Nodo
      %th.text-center
        Interfaz
      %th.text-center
        Capacidad (Gbps)
      %th.text-center
        Max Gbps Tx
      %th.text-center
        Max Gbps Rx
      %th.text-center
        Utilización %
  %tbody
    - unless Ppminterfacepreagg.last == nil
      - i = 0
      - @table_interfacepreagg.map do |item|
        - i += 1
        %tr
          %td
            = i
          %td
            = item[:devicemax]
          %td
            = item[:portmax]
          %td
            = item[:egressRatemax]
          %td
            = item[:bps_txmax]
          %td
            = item[:bps_rxmax]
          - if item[:status] > 70
            %td.danger
              = item[:status]
          - else
            %td
              = item[:status]